/*styles.css*/
* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /*background: #7b7979 !important;*/
    background-image: url('../images/blue_wavy_line_with_light_effect_background.png');
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.canvasSize {
    /*width: 100%;*/
    height: 400px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainerTitle {
    color: #add4e3;
    font-family: trajan-pro-3, serif;
    font-weight: 700;
    font-style: normal;
}

.startWorkoutButton {
    color: black !important;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #add4e3 !important;
    width: 7em;
    height: 4em;
    border: none !important;
    margin-left: 1em;
    margin-top: 1em;
    /*opacity: 85% !important;*/
}

.startWorkoutButton:hover {
    color: black !important;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #add4e3 !important;
    width: 7em;
    height: 4em;
    border: none !important;
    box-shadow: 0 0 5px 3px #FFF,
    0 0 9px 5px #add4e3,
    0 0 12px 8px #add4e3;
}

.characterButton {
    color: black !important;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #add4e3 !important;
    width: 5.5em;
    height: 4em;
    border: none !important;
    margin-left: 1em;
    margin-top: 1em;
    /*opacity: 85%;*/
}

.underCanvas {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.actionText {
    color: white;
    font-size: 2em;
    /*opacity: 95%;*/
    /*margin-left: 1em;*/
}

.thirtySecondTimerButton {
    color: black !important;
    font-family: roboto-slab, serif;
    font-size: 3em !important;
    font-weight: 700;
    font-style: normal;
    background-color: #ffffff !important;
    width: 3em;
    height: 1.5em;
    border: none !important;
    /*margin-left: 1em;*/
    margin-top: 1em;
    /*opacity: 95%;*/
}

.profileText {
    color: white;
    font-size: 2em;
    opacity: .8;
    margin-left: 1em;
}

.progressLevel {
    width: 15em;
}

.progressText {
    color: black !important;
    font-weight: bold;
}

.coinText {
    color: white;
    font-weight: bold;
    font-size: 2em;
}

/*profileInfo styling*/
.profileUserNameText {
    font-family: roboto-slab, serif;
    font-size: 1em !important;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/mountainsofchristmas/v13/3y9w6a4zcCnn5X0FDyrKi2ZRUBIy8uxoUo7eDNGsMQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.eventTitle {
    font-family: "Mountains of Christmas", serif;
    animation: flicker 3s infinite alternate;
    color: red;
    /*text-shadow:*/
    /*        0 0 7px #fff,*/
    /*        0 0 10px #fff,*/
    /*        0 0 21px #fff,*/
    /*        0 0 42px red,*/
    /*        0 0 82px red,*/
    /*        0 0 92px red,*/
    /*        0 0 102px red,*/
    /*        0 0 151px red;*/
}

@keyframes flicker {
    20%, 100% {
        text-shadow:
                0 0 4px darkred,
                0 0 11px darkred,
                0 0 19px darkred,
                0 0 40px red,
                0 0 80px red,
                0 0 90px red,
                0 0 100px red,
                0 0 150px red;
    }
    40%, 80% {
        text-shadow: none;
    }
}

.eventImage {
    animation: flickerImage 3s infinite alternate;
    filter: drop-shadow(0 0 0.75rem crimson);
}

@keyframes flickerImage {
    20%, 60%, 100% {
        filter: drop-shadow(0 0 1rem crimson)
    }
    40%, 80% {
        filter: drop-shadow(0 0 0rem crimson)
    }
}



