* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  background-color: black;
}

@keyframes hideSuspense {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.2);
    opacity: 0.4;
  }
}

.connect-logos {
  position: absolute;
  z-index: 52;
  bottom: 0;
  right: 0;
}

.connect-logos a {
  opacity: 1 !important;
}

.connect-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.modal-open-icon {
  position: absolute;
  /* the z index is really high because the html elements rendered in the three d scene have really high a values by default */
  z-index: 52;
  top: 0;
  left: 0;

  margin-left: 10px;
  margin-top: 10px;
}

.modal-open-icon:hover {
  cursor: pointer;
}

.modal-text {
  white-space: pre-line;
}

.camera-controls-container {
  /* Note the zIndexRange on the "Html" Drei element. It is key to making the controls work */
  height: 100vh;
  width: 100vw;
}

.camera-controls {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.close {
  color: white !important;
}

.form-text-color {
  color: white !important;
}

.form-header {
  font-size: 1.15rem;
}

.custom-modal {
  min-width: 80%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.modal-content {
  max-height: 100vh;
  overflow: hidden;
}

.modal-title {
  font-family: "Philosopher", sans-serif;
  font-size: 1em;

  display: flex;
  justify-content: space-between;
}

.modal-subtitle {
  font-family: "Philosopher", sans-serif;
  font-style: italic;
  font-size: 1em;
}

.modal-header {
  height: 10vh;
  max-height: 10vh;
}

.modal-body {
  font-family: "Times New Roman", Times, serif;
  height: 90vh;
  max-height: 90vh;
  overflow-y: auto;
}

.card-image-container {
  width: 100%;
}

.card-image {
  width: 100%;
  height: auto;
}

.skill-logo-container {
  width: 35px;
}

.skill-logo {
  width: 100%;
  height: auto;
}

.section-title {
  font-family: "Philosopher", sans-serif;
  font-size: 2.5em;
}

.nav-logo {
  cursor: pointer;
}

.email:hover {
  cursor: pointer;
}

.pokedex {
  font-family: "Courier New", Courier, monospace;
}

.pokedex h5 {
  font-size: 2em;
}

.debug-interface-container {
  position: relative;
  z-index: 53;
}

.debug-interface {
  color: white;
  background-color: black;
  width: 10vw;
  position: absolute;
  top: 0px;
  right: 0px;
}

.debug-interface h3 {
  font-size: 1em;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
