/* use start-generator.js to create stars */

.stars {
    position: absolute;
    width: 1px;
    height: 1px;
    animation: animStar 25s linear infinite;
    box-shadow: 436px 305px #1dacd6,
        203px 1776px #fff,
        1808px 1480px #fff,
        743px 1588px #fff,
        1759px 688px #9932cc,
        6px 491px #fff,
        608px 571px #fff,
        1605px 1461px #fff,
        1318px 286px #9932cc,
        1707px 797px #fff,
        1800px 423px #fff,
        1253px 624px #fff,
        1430px 349px #9932cc,
        1729px 644px #fff,
        626px 135px #fff,
        253px 375px #fff,
        670px 660px #9932cc,
        5px 1049px #fff,
        826px 861px #fff,
        397px 341px #fff,
        532px 1588px #1dacd6,
        737px 292px #fff,
        875px 89px #fff,
        248px 125px #fff,
        555px 128px #9932cc,
        1605px 226px #fff,
        1376px 1571px #fff,
        1046px 1860px #fff,
        839px 28px #9932cc,
        641px 1181px #fff,
        17px 737px #fff,
        1633px 640px #fff,
        951px 1491px #9932cc,
        818px 1411px #fff,
        1947px 1073px #fff,
        1589px 1850px #fff,
        849px 390px #9932cc,
        278px 783px #fff,
        1403px 119px #fff,
        89px 1424px #fff,
        1209px 1677px #1dacd6,
        849px 162px #fff,
        1651px 886px #fff,
        1960px 180px #fff,
        804px 741px #9932cc,
        1086px 23px #fff,
        1192px 1822px #fff,
        1530px 1672px #fff,
        504px 1526px #9932cc,
        975px 1622px #fff,
        777px 940px #fff,
        1262px 539px #fff,
        1930px 1814px #9932cc,
        876px 295px #fff,
        205px 1778px #fff,
        1285px 1141px #fff,
        836px 1198px #9932cc,
        712px 1770px #fff,
        1560px 609px #fff,
        147px 1121px #fff,
        429px 1700px #1dacd6,
        241px 544px #fff,
        1338px 347px #fff,
        316px 658px #fff,
        573px 624px #9932cc,
        989px 1233px #fff,
        1007px 1170px #fff,
        1541px 1236px #fff,
        86px 1104px #9932cc,
        116px 564px #fff,
        763px 1132px #fff,
        232px 526px #fff,
        861px 1981px #9932cc,
        1019px 672px #fff,
        352px 1326px #fff,
        1053px 995px #fff,
        285px 1480px #9932cc,
        1941px 1197px #fff,
        227px 1258px #fff,
        1460px 1180px #fff,
        1540px 579px #1dacd6,
        1279px 698px #fff,
        1501px 1563px #fff,
        799px 1028px #fff,
        1901px 679px #9932cc,
        1494px 1832px #fff,
        1516px 24px #fff,
        638px 653px #fff,
        535px 1830px #9932cc,
        844px 128px #fff,
        1184px 1626px #fff,
        1769px 1954px #fff,
        1965px 1999px #9932cc,
        736px 793px #fff,
        901px 1628px #fff,
        1362px 369px #fff,
        1341px 1312px #9932cc,
        491px 140px #fff,
        1630px 1658px #fff,
        733px 148px #fff,
        1574px 19px #1dacd6,
        12px 817px #fff,
        867px 1356px #fff,
        1096px 500px #fff,
        703px 24px #9932cc,
        1097px 1848px #fff,
        440px 489px #fff,
        192px 45px #fff,
        416px 1754px #9932cc,
        1295px 943px #fff,
        1533px 1769px #fff,
        820px 1045px #fff,
        973px 11px #9932cc,
        120px 595px #fff,
        741px 641px #fff,
        1819px 109px #fff,
        952px 1952px #9932cc,
        551px 1743px #fff,
        1733px 1048px #fff,
        954px 165px #fff,
        314px 1763px #1dacd6,
        42px 393px #fff,
        148px 860px #fff,
        1756px 1719px #fff,
        52px 52px #9932cc,
        1355px 1869px #fff,
        1353px 364px #fff,
        644px 1317px #fff,
        1825px 1135px #9932cc,
        1695px 1423px #fff,
        235px 43px #fff,
        1023px 92px #fff,
        1619px 1867px #9932cc,
        1366px 1856px #fff,
        826px 292px #fff,
        1862px 1228px #fff,
        1088px 1338px #9932cc,
        1591px 90px #fff,
        44px 575px #fff,
        1762px 1981px #fff,
        736px 1832px #1dacd6,
        1277px 1902px #fff,
        1579px 948px #fff,
        1942px 1794px #fff,
        601px 381px #9932cc,
        1893px 1822px #fff,
        950px 163px #fff,
        456px 55px #fff,
        1098px 102px #9932cc,
        1813px 83px #fff,
        494px 1802px #fff,
        1983px 403px #fff,
        583px 1969px #9932cc,
        1535px 1178px #fff,
        415px 1742px #fff,
        1536px 845px #fff,
        549px 168px #9932cc,
        703px 1321px #fff,
        924px 669px #fff,
        1447px 760px #fff,
        849px 345px #1dacd6,
        629px 1178px #fff,
        814px 1153px #fff,
        1222px 1534px #fff,
        1380px 10px #9932cc,
        1757px 420px #fff,
        1192px 203px #fff,
        1920px 1296px #fff,
        1548px 1760px #9932cc,
        262px 1804px #fff,
        1676px 1206px #fff,
        347px 1464px #fff,
        1727px 1716px #9932cc,
        1923px 1044px #fff,
        1986px 78px #fff,
        1391px 1419px #fff,
        1625px 290px #9932cc,
        348px 707px #fff,
        429px 678px #fff,
        850px 562px #fff,
        300px 293px #1dacd6,
        1053px 1321px #fff,
        233px 1501px #fff,
        433px 1096px #fff,
        1268px 146px #9932cc,
        1959px 466px #fff,
        1347px 1506px #fff,
        1648px 1066px #fff,
        851px 210px #9932cc,
        988px 1830px #fff,
        1342px 373px #fff,
        1476px 1988px #fff,
        1764px 1311px #9932cc,
        1172px 889px #fff,
        1006px 1913px #fff,
        1068px 1342px #fff,
        971px 38px #9932cc,
        394px 103px #fff,
        483px 1924px #fff,
        111px 661px #fff;
}

.starsTwo {
    position: absolute;
    width: 2px;
    height: 2px;
    animation: animStar 50s linear infinite;
    box-shadow: 1374px 1722px #1dacd6,
        1136px 1165px #fff,
        504px 272px #fff,
        780px 390px #fff,
        828px 1260px #9932cc,
        1448px 135px #fff,
        1474px 1318px #fff,
        1856px 401px #fff,
        843px 1421px #9932cc,
        972px 276px #fff,
        1494px 1166px #fff,
        1025px 1975px #fff,
        239px 1428px #9932cc,
        1165px 1891px #fff,
        694px 1595px #fff,
        1592px 1338px #fff,
        1747px 55px #9932cc,
        1031px 53px #fff,
        1062px 410px #fff,
        1106px 1120px #fff,
        699px 1668px #1dacd6,
        201px 618px #fff,
        615px 1399px #fff,
        1389px 563px #fff,
        513px 362px #9932cc,
        852px 1864px #fff,
        1157px 1764px #fff,
        1962px 576px #fff,
        1871px 605px #9932cc,
        749px 493px #fff,
        840px 59px #fff,
        18px 911px #fff,
        541px 795px #9932cc,
        483px 1570px #fff,
        1867px 1153px #fff,
        1462px 1111px #fff,
        620px 1188px #9932cc,
        1077px 531px #fff,
        1742px 217px #fff,
        806px 475px #fff,
        439px 447px #1dacd6,
        465px 464px #fff,
        315px 376px #fff,
        1486px 1936px #fff,
        1780px 63px #9932cc,
        233px 1022px #fff,
        1270px 1852px #fff,
        1813px 1737px #fff,
        1716px 1718px #9932cc,
        336px 646px #fff,
        1601px 1798px #fff,
        1712px 1267px #fff,
        228px 132px #9932cc,
        772px 702px #fff,
        1909px 1436px #fff,
        957px 541px #fff,
        503px 239px #9932cc,
        1035px 1886px #fff,
        977px 1117px #fff,
        863px 1946px #fff,
        1831px 1155px #1dacd6,
        760px 229px #fff,
        1192px 7px #fff,
        32px 788px #fff,
        465px 973px #9932cc,
        58px 100px #fff,
        627px 1360px #fff,
        1667px 64px #fff,
        1027px 973px #9932cc,
        719px 1868px #fff,
        1370px 1656px #fff,
        1433px 639px #fff,
        758px 7px #9932cc,
        578px 1260px #fff,
        853px 1400px #fff,
        151px 1483px #fff,
        705px 339px #9932cc,
        255px 378px #fff,
        1148px 1873px #fff,
        166px 1517px #fff,
        551px 922px #1dacd6,
        97px 860px #fff,
        250px 1796px #fff,
        1081px 1479px #fff,
        1592px 1892px #9932cc,
        159px 579px #fff,
        339px 1950px #fff,
        1157px 1031px #fff,
        187px 1397px #9932cc,
        1080px 959px #fff,
        324px 1224px #fff,
        1907px 1936px #fff,
        1468px 1730px #9932cc,
        1513px 1429px #fff,
        580px 1788px #fff,
        1288px 9px #fff,
        301px 696px #9932cc,
        402px 304px #fff,
        1771px 1341px #fff,
        440px 613px #fff,
        1028px 693px #1dacd6,
        1798px 75px #fff,
        237px 290px #fff,
        1917px 33px #fff,
        1936px 55px #9932cc,
        1724px 1810px #fff,
        607px 1304px #fff,
        1715px 1565px #fff,
        1439px 1391px #9932cc,
        1139px 887px #fff,
        60px 718px #fff,
        40px 1624px #fff,
        1743px 15px #9932cc,
        498px 304px #fff,
        1497px 69px #fff,
        561px 516px #fff,
        960px 1854px #9932cc,
        1551px 1844px #fff,
        598px 1011px #fff,
        1445px 781px #fff,
        354px 839px #1dacd6,
        1675px 1470px #fff,
        775px 1455px #fff,
        922px 928px #fff,
        1851px 1723px #9932cc,
        209px 1600px #fff,
        690px 1767px #fff,
        1565px 373px #fff,
        1785px 702px #9932cc,
        88px 753px #fff,
        814px 98px #fff,
        572px 1507px #fff,
        1931px 1258px #9932cc,
        396px 947px #fff,
        187px 1857px #fff,
        645px 436px #fff,
        1534px 866px #9932cc,
        1874px 765px #fff,
        1841px 1904px #fff,
        1330px 741px #fff,
        1583px 1228px #1dacd6,
        890px 383px #fff,
        864px 1806px #fff,
        1942px 205px #fff,
        599px 11px #9932cc,
        393px 1452px #fff,
        819px 888px #fff,
        735px 855px #fff,
        1814px 1374px #9932cc,
        438px 363px #fff,
        464px 806px #fff,
        1086px 1680px #fff,
        1111px 1562px #9932cc,
        1956px 527px #fff,
        365px 1759px #fff,
        1415px 1066px #fff,
        1790px 846px #9932cc,
        1501px 1043px #fff,
        502px 772px #fff,
        842px 1612px #fff,
        670px 384px #1dacd6,
        1661px 510px #fff,
        67px 168px #fff,
        1001px 1545px #fff,
        871px 1061px #9932cc,
        1604px 872px #fff,
        1111px 1470px #fff,
        377px 249px #fff,
        672px 852px #9932cc,
        38px 1086px #fff,
        738px 704px #fff,
        711px 1868px #fff,
        751px 614px #9932cc,
        535px 366px #fff,
        85px 313px #fff,
        1947px 297px #fff,
        568px 1023px #9932cc,
        187px 1145px #fff,
        296px 984px #fff,
        1536px 509px #fff,
        225px 483px #1dacd6,
        73px 426px #fff,
        1666px 1271px #fff,
        1160px 1259px #fff,
        1791px 872px #9932cc,
        767px 984px #fff,
        613px 459px #fff,
        115px 0px #fff,
        301px 917px #9932cc,
        1828px 33px #fff,
        1218px 300px #fff,
        1041px 1004px #fff,
        1759px 81px #9932cc,
        821px 112px #fff,
        1244px 518px #fff,
        1084px 1990px #fff,
        190px 1855px #9932cc,
        1804px 1294px #fff,
        1403px 1971px #fff,
        431px 1551px #fff;
}

.starsThree {
    position: absolute;
    width: 3px;
    height: 3px;
    animation: animStar 40s linear infinite;
    box-shadow: 575px 1719px #1dacd6,
        637px 1473px #fff,
        1445px 1973px #fff,
        1286px 879px #fff,
        1571px 871px #9932cc,
        1358px 279px #fff,
        999px 420px #fff,
        197px 1326px #fff,
        1246px 224px #9932cc,
        751px 953px #fff,
        342px 44px #fff,
        1998px 1819px #fff,
        320px 852px #9932cc,
        1993px 791px #fff,
        419px 825px #fff,
        1875px 1532px #fff,
        539px 1928px #9932cc,
        702px 1799px #fff,
        1450px 4px #fff,
        591px 627px #fff,
        648px 737px #1dacd6,
        1138px 846px #fff,
        1173px 1636px #fff,
        854px 854px #fff,
        1538px 1619px #9932cc,
        1136px 662px #fff,
        767px 164px #fff,
        402px 375px #fff,
        1848px 1231px #9932cc,
        362px 1868px #fff,
        485px 678px #fff,
        652px 1895px #fff,
        848px 679px #9932cc,
        1532px 1390px #fff,
        1078px 1858px #fff,
        1322px 722px #fff,
        171px 1195px #9932cc,
        1441px 49px #fff,
        160px 1710px #fff,
        363px 779px #fff,
        1160px 200px #1dacd6,
        520px 174px #fff,
        1028px 701px #fff,
        1907px 1194px #fff,
        1339px 1046px #9932cc,
        291px 70px #fff,
        600px 1244px #fff,
        1956px 84px #fff,
        1242px 1652px #9932cc,
        1981px 1914px #fff,
        647px 263px #fff,
        964px 1291px #fff,
        874px 1134px #9932cc,
        1412px 1365px #fff,
        1568px 561px #fff,
        117px 854px #fff,
        1691px 1401px #9932cc,
        732px 1184px #fff,
        1628px 1539px #fff,
        631px 317px #fff,
        1951px 1656px #1dacd6,
        1253px 1561px #fff,
        889px 1139px #fff,
        1638px 302px #fff,
        564px 1360px #9932cc,
        102px 132px #fff,
        929px 140px #fff,
        325px 527px #fff,
        567px 1439px #9932cc,
        1127px 1991px #fff,
        252px 32px #fff,
        1406px 1270px #fff,
        1095px 581px #9932cc,
        1424px 1268px #fff,
        1166px 1892px #fff,
        1338px 1935px #fff,
        379px 1776px #9932cc,
        823px 1647px #fff,
        519px 868px #fff,
        409px 1120px #fff,
        1718px 967px #1dacd6,
        1981px 1682px #fff,
        1507px 603px #fff,
        280px 368px #fff,
        2px 927px #9932cc,
        1441px 1115px #fff,
        1012px 1514px #fff,
        497px 312px #fff,
        876px 1314px #9932cc,
        662px 343px #fff,
        342px 769px #fff,
        103px 1083px #fff,
        1173px 882px #9932cc,
        1556px 566px #fff,
        26px 1811px #fff,
        839px 1029px #fff,
        138px 843px #9932cc,
        553px 992px #fff,
        1491px 1135px #fff,
        10px 236px #fff,
        1001px 288px #1dacd6,
        1202px 1898px #fff,
        101px 1769px #fff,
        1466px 1011px #fff,
        240px 96px #9932cc,
        692px 1222px #fff,
        374px 997px #fff,
        596px 769px #fff,
        379px 335px #9932cc,
        418px 27px #fff,
        640px 324px #fff,
        105px 516px #fff,
        1560px 1420px #9932cc,
        623px 1395px #fff,
        817px 1623px #fff,
        240px 1839px #fff,
        1508px 1538px #9932cc,
        752px 337px #fff,
        38px 1176px #fff,
        509px 463px #fff,
        1905px 506px #1dacd6,
        1271px 1621px #fff,
        177px 390px #fff,
        1171px 1973px #fff,
        1626px 1573px #9932cc,
        1792px 1481px #fff,
        1405px 1712px #fff,
        1561px 839px #fff,
        1249px 1062px #9932cc,
        1191px 1082px #fff,
        1953px 349px #fff,
        131px 1393px #fff,
        1624px 1174px #9932cc,
        1824px 1610px #fff,
        455px 1651px #fff,
        194px 355px #fff,
        1507px 1933px #9932cc,
        793px 139px #fff,
        1102px 1994px #fff,
        1032px 1406px #fff,
        828px 486px #1dacd6,
        309px 107px #fff,
        906px 50px #fff,
        1231px 510px #fff,
        1746px 925px #9932cc,
        141px 236px #fff,
        354px 1515px #fff,
        1121px 1965px #fff,
        1010px 1908px #9932cc,
        759px 1161px #fff,
        444px 690px #fff,
        11px 1840px #fff,
        1784px 287px #9932cc,
        1159px 366px #fff,
        379px 942px #fff,
        365px 461px #fff,
        1477px 926px #9932cc,
        1814px 1302px #fff,
        1068px 1711px #fff,
        1067px 464px #fff,
        1329px 212px #1dacd6,
        924px 1095px #fff,
        492px 866px #fff,
        379px 739px #fff,
        419px 972px #9932cc,
        1376px 300px #fff,
        1220px 1773px #fff,
        412px 634px #fff,
        1946px 1977px #9932cc,
        929px 1828px #fff,
        170px 628px #fff,
        1119px 1476px #fff,
        1456px 1002px #9932cc,
        1405px 523px #fff,
        1667px 642px #fff,
        49px 179px #fff,
        1860px 1585px #9932cc,
        161px 1360px #fff,
        452px 665px #fff,
        397px 936px #fff,
        1028px 287px #1dacd6,
        598px 1042px #fff,
        1160px 1543px #fff,
        1007px 1727px #fff,
        836px 547px #9932cc,
        569px 567px #fff,
        1835px 1658px #fff,
        1153px 338px #fff,
        1778px 124px #9932cc,
        1156px 1248px #fff,
        1389px 992px #fff,
        310px 1562px #fff,
        538px 1038px #9932cc,
        315px 1170px #fff,
        114px 276px #fff,
        605px 920px #fff,
        843px 186px #9932cc,
        1684px 402px #fff,
        62px 1703px #fff,
        1966px 684px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-500px);
    }
}