/* use start-generator.js to create stars */

.stars {
    position: absolute;
    width: 1px;
    height: 1px;
    animation: animStar 10s linear infinite;
    box-shadow: 436px 305px #1dacd6,
        203px 1776px #fff,
        1808px 1480px #fff,
        743px 1588px #fff,
        1759px 688px #9932cc,
        6px 491px #fff,
        608px 571px #fff,
        1605px 1461px #fff,
        1318px 286px #9932cc,
        1707px 797px #fff,
        1800px 423px #fff,
        1253px 624px #fff,
        1430px 349px #9932cc,
        1729px 644px #fff,
        626px 135px #fff,
        253px 375px #fff,
        670px 660px #9932cc,
        5px 1049px #fff,
        826px 861px #fff,
        397px 341px #fff,
        532px 1588px #1dacd6,
        737px 292px #fff,
        875px 89px #fff,
        248px 125px #fff,
        555px 128px #9932cc,
        1605px 226px #fff,
        1376px 1571px #fff,
        1046px 1860px #fff,
        839px 28px #9932cc,
        641px 1181px #fff,
        17px 737px #fff,
        1633px 640px #fff,
        951px 1491px #9932cc,
        818px 1411px #fff,
        1947px 1073px #fff,
        1589px 1850px #fff,
        849px 390px #9932cc,
        278px 783px #fff,
        1403px 119px #fff,
        89px 1424px #fff,
        1209px 1677px #1dacd6,
        849px 162px #fff,
        1651px 886px #fff,
        1960px 180px #fff,
        804px 741px #9932cc,
        1086px 23px #fff,
        1192px 1822px #fff,
        1530px 1672px #fff,
        504px 1526px #9932cc,
        975px 1622px #fff,
        777px 940px #fff,
        1262px 539px #fff,
        1930px 1814px #9932cc,
        876px 295px #fff,
        205px 1778px #fff,
        1285px 1141px #fff,
        836px 1198px #9932cc,
        712px 1770px #fff,
        1560px 609px #fff,
        147px 1121px #fff,
        429px 1700px #1dacd6,
        241px 544px #fff,
        1338px 347px #fff,
        316px 658px #fff,
        573px 624px #9932cc,
        989px 1233px #fff,
        1007px 1170px #fff,
        1541px 1236px #fff,
        86px 1104px #9932cc,
        116px 564px #fff,
        763px 1132px #fff,
        232px 526px #fff,
        861px 1981px #9932cc,
        1019px 672px #fff,
        352px 1326px #fff,
        1053px 995px #fff,
        285px 1480px #9932cc,
        1941px 1197px #fff,
        227px 1258px #fff,
        1460px 1180px #fff,
        1540px 579px #1dacd6,
        1279px 698px #fff,
        1501px 1563px #fff,
        799px 1028px #fff,
        1901px 679px #9932cc,
        1494px 1832px #fff,
        1516px 24px #fff,
        638px 653px #fff,
        535px 1830px #9932cc,
        844px 128px #fff,
        1184px 1626px #fff,
        1769px 1954px #fff,
        1965px 1999px #9932cc,
        736px 793px #fff,
        901px 1628px #fff,
        1362px 369px #fff,
        1341px 1312px #9932cc,
        491px 140px #fff,
        1630px 1658px #fff,
        733px 148px #fff,
        1574px 19px #1dacd6,
        12px 817px #fff,
        867px 1356px #fff,
        1096px 500px #fff,
        703px 24px #9932cc,
        1097px 1848px #fff,
        440px 489px #fff,
        192px 45px #fff,
        416px 1754px #9932cc,
        1295px 943px #fff,
        1533px 1769px #fff,
        820px 1045px #fff,
        973px 11px #9932cc,
        120px 595px #fff,
        741px 641px #fff,
        1819px 109px #fff,
        952px 1952px #9932cc,
        551px 1743px #fff,
        1733px 1048px #fff,
        954px 165px #fff,
        314px 1763px #1dacd6,
        42px 393px #fff,
        148px 860px #fff,
        1756px 1719px #fff,
        52px 52px #9932cc,
        1355px 1869px #fff,
        1353px 364px #fff,
        644px 1317px #fff,
        1825px 1135px #9932cc,
        1695px 1423px #fff,
        235px 43px #fff,
        1023px 92px #fff,
        1619px 1867px #9932cc,
        1366px 1856px #fff,
        826px 292px #fff,
        1862px 1228px #fff,
        1088px 1338px #9932cc,
        1591px 90px #fff,
        44px 575px #fff,
        1762px 1981px #fff,
        736px 1832px #1dacd6,
        1277px 1902px #fff,
        1579px 948px #fff,
        1942px 1794px #fff,
        601px 381px #9932cc,
        1893px 1822px #fff,
        950px 163px #fff,
        456px 55px #fff,
        1098px 102px #9932cc,
        1813px 83px #fff,
        494px 1802px #fff,
        1983px 403px #fff,
        583px 1969px #9932cc,
        1535px 1178px #fff,
        415px 1742px #fff,
        1536px 845px #fff,
        549px 168px #9932cc,
        703px 1321px #fff,
        924px 669px #fff,
        1447px 760px #fff,
        849px 345px #1dacd6,
        629px 1178px #fff,
        814px 1153px #fff,
        1222px 1534px #fff,
        1380px 10px #9932cc,
        1757px 420px #fff,
        1192px 203px #fff,
        1920px 1296px #fff,
        1548px 1760px #9932cc,
        262px 1804px #fff,
        1676px 1206px #fff,
        347px 1464px #fff,
        1727px 1716px #9932cc,
        1923px 1044px #fff,
        1986px 78px #fff,
        1391px 1419px #fff,
        1625px 290px #9932cc,
        348px 707px #fff,
        429px 678px #fff,
        850px 562px #fff,
        300px 293px #1dacd6,
        1053px 1321px #fff,
        233px 1501px #fff,
        433px 1096px #fff,
        1268px 146px #9932cc,
        1959px 466px #fff,
        1347px 1506px #fff,
        1648px 1066px #fff,
        851px 210px #9932cc,
        988px 1830px #fff,
        1342px 373px #fff,
        1476px 1988px #fff,
        1764px 1311px #9932cc,
        1172px 889px #fff,
        1006px 1913px #fff,
        1068px 1342px #fff,
        971px 38px #9932cc,
        394px 103px #fff,
        483px 1924px #fff,
        111px 661px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(-100px);
        opacity: 0.2;
    }
}