.menu-modal {
    width: 90vw !important;
    max-width: 90vw !important;
    height: 90vh !important;
    max-height: 90vh !important;
}

.menuTitleAnimation {
    /*animation-duration: 15s;*/
    /*animation-name: slidein;*/
    /*animation-iteration-count: infinite;*/
    color: #f9990d;
    font-size: 3rem !important;
    opacity: 1;
}


/*@keyframes slidein {*/
/*    from {*/
/*        margin-left: 30%;*/
/*        !*opacity: .8;*!*/
/*    }*/

/*    to {*/
/*        margin-right: 0%;*/
/*        !*opacity: .8;*!*/

/*    }*/
/*}*/

.menuButtonAnimation {
    animation-name: menuButtonAnimationColors;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes menuButtonAnimationColors {
    0% {
        background-color: black;
        color: white;
    }
    50% {
        background-color: white;
        color: black;
    }
    100% {
        background-color: black;
        color: white;
    }
}

.menuButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    /*align-items: flex-start;*/
}

.inMenuButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem !important;
    background-color: darkslategrey !important;
    color: white !important;
    display: block !important;
}

.mainModel {
    width: 90vw !important;
    height: 90vh !important;
}

.menuSelection {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

@media screen and (max-width: 775px) {
    .inMenuButton {
        font-size: 1rem !important;
    }
    .menuSelection {
        top: 75%;
        position: relative;
        margin-bottom: 1em;
    }
}

/*@media screen and (min-width: 775px) {*/
/*    .menuSelection {*/
/*        position: absolute;*/
/*        top: 1rem;*/
/*        right: 1rem;*/
/*    }*/
/*}*/

.signInOutButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #add4e3 !important;
    color: black !important;
}

.resetFormButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: teal !important;
    color: black !important;
}

.signUpButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #f9990d !important;
    color: black !important;
}


.menuBackground {
    /*background-color: dimgrey;*/
    background: url("../../../../images/background-img.png") no-repeat;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: 100vw 100vh;
}

.websiteName {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
}

.signUpBackground {
    background-color: black;
    color: white;
}


.eventCanvas {
    width: 35vw;
    height: 35vh;
}
