.background-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.form-text-color {
    color: white !important;
}

h1 {
    font-family: "Californian FB";
}

h2 {
    font-family: "Californian FB";
}
